# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# rust
target/

# frontend code
node_modules/
dist/
.nuxt

# environment variables
.env

.output/
/ignore

# production files
src/frontend/scripts/deploy-production.sh
src/frontend/nginx-production.conf